{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}

<div class="row">
    {% for product in newest_products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.get_thumbnail }}">
        <div class="box-element product">
            <h6><strong>{{product.title}}</strong></h6>
            <hr>
<!-- 
            <form style="display: inline;" method="post" action=".">
                {% csrf_token %}
                    <input style="visibility: collapse;" type="number" name="quantity" value="1" class="input" min="1"><br>
                    <button style="display: inline;" class="btn btn-dark">Add to cart</button>
            </form>
             -->
            <a class="btn btn-outline-success" style="display: inline;" href="{% url 'product' product.category.slug product.slug %}">View</a>
            <h4 style="display: inline-block;float: right; font-size: medium;"><strong>Rs.{{product.price}}</strong></h4>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
